.logo{
    background-image: url(./assets/image/logo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}
.box{
    box-shadow: 5px 5px 8px gray;
}

.cart{
    box-shadow: 4px 4px 6px gray;
}